WP_ROOT_FOLDER="tests/wordpress"
WP_DOMAIN="tribe-libs.tribe"
WP_URL="http://tribe-libs.tribe"
WP_ADMIN_PATH="/wp-admin"
WP_ADMIN_USERNAME="admin"
WP_ADMIN_PASSWORD="password"
TEST_DB_HOST="mysql.tribe"
TEST_DB_NAME="tribe_libs_test"
TEST_DB_USER="root"
TEST_DB_PASSWORD="password"
TABLE_PREFIX="tribe_"
TEST_CONFIG_FILE="tests/wp-config-environment.php"
