includes:
	- ../vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 5
	bootstrapFiles:
		- phpstan/boostrap.php
		- ../vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
	scanFiles:
		- ../vendor/paulthewalton/acf-pro-stubs/acf-pro-stubs.php
		- ../vendor/johnbillion/extended-cpts/functions.php
	treatPhpDocTypesAsCertain: false
	earlyTerminatingMethodCalls:
		WP_CLI:
			- error
	paths:
		- ../src
	excludes_analyse:
		- ../src/Generators/templates/
#		- ../src/P2P/
	ignoreErrors:
		# TODO Consider going "final"
		- '#^Unsafe usage of new static\(\)\.$#'
		# Uses func_get_args()
		- '#^Function apply_filters(_ref_array)? invoked with \d+ parameters, 2 required\.$#'
		# Object_Nav_Walker::walk() return type design trick
		- '#^Method Tribe\\Libs\\Nav\\Object_Nav_Walker::walk\(\) should return string but returns array\.$#'
		- '#^Return type \(string\) of method Tribe\\Libs\\Nav\\JSON_Nav_Walker::format_output\(\) should be compatible with return type#'
		- '#^Parameter \#[34] \$args \(array\) of method Tribe\\Libs\\Nav\\Extensible_Walker_Nav_Menu::\S+\(\) should be compatible with parameter#'
		# P2P plugin problem
		- '#^Access to an undefined property P2P_Directed_Connection_Type::\$name\.$#'
