<?php declare( strict_types=1 );

/**
 * @var array $args Arguments passed to the template
 */
$c = %1$s::factory( $args );
?>
<div
	<?php echo $c->get_classes(); ?>
	<?php echo $c->get_attributes(); ?>
>

</div>
