<?php declare(strict_types=1);

use Tribe\Project\Blocks\Type\%1$s\%1$s_Model;

/**
 * @var array $args Arguments passed to the template
 */
$model = new %1$s_Model( $args['block'] );
get_template_part( 'components/blocks/%2$s/%2$s', null, $model->get_data() );
